* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffccff;
  height: 450px;
}
#bg-img {
  text-align: center;
  font-size: 20px;
  height: 400px;
  padding: 50px;
  /* background: url('../images/family/family-car-1.jpg'); */
  background-image: url('../images/classic-car/classic-car-1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body img {
  width: 300px;
  height: 200px;
}
#liner {
  width: 1100px;
  height: 600px;
  border: 2px solid tomato;
  margin: auto;
  /* background: linear-gradient(to top right, green, red, yellow); */

  /* background: linear-gradient(150deg, green, red, yellow); */

  /* background: linear-gradient(green 40%, red, yellow); */
  /* background: repeating-linear-gradient(green 20%, red 30%, yellow 40%); */
  /* background: radial-gradient(circle, green, red, yellow, aqua); */
  background: radial-gradient(
    closest-side at 90% 20%,
    green,
    red,
    yellow,
    aqua
  );
}

/* index.html2 */

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #cce8ff; */
  /* margin: 10;
  padding: 10px; */
}

header li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
  background-color: magenta;
  border-radius: 10px;
  box-shadow: 3px 5px 5px #000;
}
header a {
  text-decoration: none;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sports-car {
  background-image: url('../images/sports-car/sports-car-3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
